DcmsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Server/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DcmsService" targetNamespace="http://Server/">
<types/>
<message name="getRecordCount"/>
<message name="getRecordCountResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="createSRecord">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="createSRecordResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="editRecord">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
</message>
<message name="editRecordResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="createTRecord">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="createTRecordResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="transferRecord">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="transferRecordResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="Dcms">
<operation name="getRecordCount">
<input message="tns:getRecordCount" wsam:Action="http://Server/Dcms/getRecordCountRequest"/>
<output message="tns:getRecordCountResponse" wsam:Action="http://Server/Dcms/getRecordCountResponse"/>
</operation>
<operation name="createSRecord" parameterOrder="arg0 arg1">
<input message="tns:createSRecord" wsam:Action="http://Server/Dcms/createSRecordRequest"/>
<output message="tns:createSRecordResponse" wsam:Action="http://Server/Dcms/createSRecordResponse"/>
</operation>
<operation name="editRecord" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:editRecord" wsam:Action="http://Server/Dcms/editRecordRequest"/>
<output message="tns:editRecordResponse" wsam:Action="http://Server/Dcms/editRecordResponse"/>
</operation>
<operation name="createTRecord" parameterOrder="arg0 arg1">
<input message="tns:createTRecord" wsam:Action="http://Server/Dcms/createTRecordRequest"/>
<output message="tns:createTRecordResponse" wsam:Action="http://Server/Dcms/createTRecordResponse"/>
</operation>
<operation name="transferRecord" parameterOrder="arg0 arg1 arg2">
<input message="tns:transferRecord" wsam:Action="http://Server/Dcms/transferRecordRequest"/>
<output message="tns:transferRecordResponse" wsam:Action="http://Server/Dcms/transferRecordResponse"/>
</operation>
</portType>
<binding name="DcmsPortBinding" type="tns:Dcms">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="getRecordCount">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://Server/" use="literal"/>
</input>
<output>
<soap:body namespace="http://Server/" use="literal"/>
</output>
</operation>
<operation name="createSRecord">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://Server/" use="literal"/>
</input>
<output>
<soap:body namespace="http://Server/" use="literal"/>
</output>
</operation>
<operation name="editRecord">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://Server/" use="literal"/>
</input>
<output>
<soap:body namespace="http://Server/" use="literal"/>
</output>
</operation>
<operation name="createTRecord">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://Server/" use="literal"/>
</input>
<output>
<soap:body namespace="http://Server/" use="literal"/>
</output>
</operation>
<operation name="transferRecord">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://Server/" use="literal"/>
</input>
<output>
<soap:body namespace="http://Server/" use="literal"/>
</output>
</operation>
</binding>
<service name="DcmsService">
<port binding="tns:DcmsPortBinding" name="DcmsPort">
<soap:address location="http://LAPTOP-7O8GABPD:8080/DCMS_3/DcmsService"/>
</port>
</service>
</definitions>
